*~
auto-save-list
backups
.places
session.*
tramp
elpa
*.elc
.DS_Store
.cask
/url/
/var/
/ensime/
/history
/ido.last
/recentf
/projectile-bookmarks.eld
/projectile.cache
/transient/history.el
/transient/values.el
/forge-database.sqlite
