*~
auto-save-list
/etc/
/url/
/var/
/history/
elpa
backups
.places
session.*
tramp
*.elc
.DS_Store
.cask
/ensime/
/ido.last
/recentf
/eshell
/projectile-bookmarks.eld
/projectile.cache
/transient/history.el
/transient/values.el
/forge-database.sqlite
